
.h1_style{
    font-family: "Franklin Gothic Medium", Impact, sans-serif;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: none;
    margin-bottom: none;
    font-weight: none;
}