body{
    background-image: url("../img/fondBlanc.jpg");
}

header{
    position: relative;
    background-color: whitesmoke;
}
h1, h2{
    font-family: "Franklin Gothic Medium", Impact, sans-serif;
}

nav{
    position: absolute;
    background-color: dimgrey;
    height: 150px;
    width: 100%;
}
#mid{
    position: absolute;
    top: 50px;
    width: 250px;
    left: 5%;
    border: solid 2px black;
    box-shadow: 4px 4px lightgray;
}

nav li{
    margin-top: 50px;
    float: right;
    list-style-type: none;
    margin-right: 5px;
    margin-left: 5px;
}

nav li:nth-child(1){
    margin-right: 50px;

}

nav a{
    color: lightgray;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", Impact, sans-serif;
    font-size: 25px;
    border: solid 1px beige;
    border-radius: 15px;
    padding: 0 0.15em;
    width: 7em;
    display: inline-block;
    text-align: center;
}

nav a:hover{
    color: crimson;
}

nav a:active{
    color: black;
}


.contenuP{
    font-family: Verdana, sans-serif;
    margin-top: 250px;
    background-color: whitesmoke;
    text-align: justify;
}

footer{
    font-style: italic;
    text-align: center;
}

footer img{
    width: 40px;
}

.video{
    float: right;
    margin-top: -500px;
    margin-right: 5%;
    clear: both;
}

.fictif{
    margin-top: 250px;
    text-align: center;
}

.etudiant{
    border: solid 1px gray;
    text-align: center;
    margin-right: 70%;
    position: relative;
    margin-left: 5%;
    margin-top: 50px;
}

.etudiant ul li{
    list-style-type: none;
}

#formBiere input, #formBiere select, #mail, #mdp{
    border-radius: 1px;
    width: 200px;
    text-align: center;
    float: right;
    clear: right;
    margin-right: 44%;
    text-align: center;

}

div#catalogue {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    clear: both;
    width: initial;
    margin: 0.5em;
    padding: 5em 20em 20em 20em;
}
.sectionUneBiere {
    border: solid 1px black;
    margin: .25em;
    text-align: center;
    background-color: darkgrey;
    width: 15em;
    padding: 0.25em;
    position: relative;
    height: auto;
}

label{
    float: left;
    clear: left;
    margin-left: 40%;
}

#formBiere select{
    width: 375px;
    margin-right: 44%; 
}
#formBiere input{
    margin-right: 44%;
}

#formBiere input[type='submit']{
    width: 205px;
}
#formBiere input[type='reset']{
    width: 205px;
}

#boutonAction{
    background-color: lightgray;
    display: inline;
    margin-top: 7%;
}

.titreForm{
    text-decoration: underline;
    margin-left: 40%;
    font-weight: bold;
}

.data{
    color: black;
    padding: 0.25em;
    height: 10em;

}

.sectionUneBiere input[type='number']{
    width:40px;
}

.sectionUneBiere img{
    border: solid 2px lightslategray;
}

.nomBiere{
    font-family: fantasy;
}
.brasserieBiere{
    font-style: italic;
}

#erreurRecherche{
    color: darkred;
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
    margin-left: 30%;
}

#imageSuppression {
    background-image: url('../img/croix_rouge_32.png');
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

#boutonHisto{
    margin-left: 50%;
    background-color: lightgray;
}

legend{
    text-align: center;
    border: gray 1px solid;
}

#tableauPanier{
    text-align: center;
    empty-cells: hide;
    border: black solid 1px;
    border-collapse: collapse;
    padding: 5em;
    margin-left: 25em;
}

#laTable{
    padding: 5em;
}

.vide{
    display: none;
}

.TitreSomme {
    text-align: right;
    font-weight: bold;
}

#somme {
    text-align: center;
    font-weight: bold;
    color: red;
}

#toutSupprimer {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    background-color: #f14e4e;
}
#toutSupprimer:hover{
    border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em){
     #toutSupprimer {
        display:block;
        margin:0.2em auto;
         }
}

