body{
    background-image: url("../img/fondBlanc.jpg");
}

header{
    position: relative;
    background-color: whitesmoke;
}
h1, h2{
    font-family: "Franklin Gothic Medium", Impact, sans-serif;
}

nav{
    position: absolute;
    background-color: dimgrey;
    height: 150px;
    width: 100%;
}
#mid{
    position: absolute;
    top: 50px;
    width: 250px;
    left: 5%;
    border: solid 2px black;
    box-shadow: 4px 4px lightgray;
}

nav li{
    margin-top: 50px;
    float: right;
    list-style-type: none;
    margin-right: 5px;
    margin-left: 5px;
}

nav li:nth-child(1){
    margin-right: 50px;

}

nav a{
    color: lightgray;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", Impact, sans-serif;
    font-size: 25px;
    border: solid 1px beige;
    border-radius: 15px;
    padding: 0 0.15em;
    width: 7em;
    display: inline-block;
    text-align: center;
}

nav a:hover{
    color: crimson;
}

nav a:active{
    color: black;
}


.contenuP{
    font-family: Verdana, sans-serif;
    margin-top: 250px;
    background-color: whitesmoke;
    text-align: justify;
}

footer{
    font-style: italic;
    text-align: center;
}

footer img{
    width: 40px;
}

.video{
    float: right;
    margin-top: -500px;
    margin-right: 5%;
    clear: both;
}

.fictif{
    margin-top: 250px;
    text-align: center;
}

.etudiant{
    border: solid 1px gray;
    text-align: center;
    margin-right: 70%;
    position: relative;
    margin-left: 5%;
    margin-top: 50px;
}

.etudiant ul li{
    list-style-type: none;
}

#formBiere input, #formBiere select{
    border-radius: 1px;
    width: 200px;
    text-align: center;
    float: right;
    clear: right;
    margin-right: 38%;
    text-align: center;

}

div#catalogue {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    clear: both;
    width: initial;
    margin: 0.5em;
    padding: 20em;
}
.sectionUneBiere {
    border: solid 1px black;
    margin: .25em;
    text-align: center;
    background-color: darkgrey;
    width: 15em;
    padding: 0.25em;
    position: relative;
    height: auto;
}

label{
    float: left;
    clear: left;
    margin-left: 40%;
}

#formBiere select{
    width: 375px;
}
#formBiere input{
    margin-right: 41%;
}

#formBiere input[type='submit']{
    background-color: lightgray;
    float: left;
    width: 110px;
    margin-left: 40%;

}

#formBiere input[type='reset']{
    background-color:lightgray;
    width: 110px;
    margin-right: 43%;
    float: right;
}

.titreForm{
    text-decoration: underline;
    margin-left: 40%;
    font-weight: bold;
}

.data{
    color: black;
    padding: 0.25em;
    height: 10em;

}

.sectionUneBiere input[type='number']{
    width:40px;
}

.sectionUneBiere img{
    border: solid 2px lightslategray;
}

.nomBiere{
    font-family: fantasy;
}
.brasserieBiere{
    font-style: italic;
}

#erreurRecherche{
    color: darkred;
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
    margin-left: 30%;
}

#image {
    background-image: url('../img/croix_rouge_32.png');
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}
